<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
    Get help by checking out our 
    <a href="http://www.railstutorial.org/#help">FAQ Section</a>.
    <br>
    To get help not covered in the FAQ's, please send us a message at the 
    <%= link_to "Contact Page", contact_path %>
</p>
