<div class="center jumbotron">
    <h1>Welcome to the Home Page</h1>
    
    <h2>This is the home page for my 
        <a href="http://www.rubyonrails.org/">Ruby on Rails</a>
        based application, currently under development.
    </h2>
    
        <%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>